In [3]:
#string variable can be declared either by using single or double quote
x="maithili"  #double quote
x='maithili'  #single quote

In [14]:
myName="maithili"  #variable name must start with letter
myName

'maithili'

In [6]:
MYNAME="Maithili"
MYNAME

'Maithili'

In [7]:
_var= 5   #variable name must start underscore character(_)
_var

5

In [12]:
2_Name="Hello"  #variable name cannot start with an numbers
2_Name

SyntaxError: invalid decimal literal (984237311.py, line 1)

In [8]:
var_2='Hello' # Variable name can only contain alpha_numneric characters and underscore
var_2

'Hello'

In [9]:
myName_2='Hello'
myName_2

'Hello'

In [10]:
Hello="Maithili"  # A variable names are case-senstive
hello

NameError: name 'hello' is not defined

In [11]:
My name ="Maithili"   # we cannot give a space between variables
My name

SyntaxError: invalid syntax (3398065514.py, line 1)

In [13]:
x,y,z='A','B','C'  #We can assign a multiple values to a multiple variables
x
y
z

'C'