**Data Frame:**DataFrame Column and Row Selection (loc and iloc)
loc is label-based, meaning that you have to specify rows and columns based on their labels.
iloc is integer position-based, meaning that you have to specify rows and columns based on their integer positions.

In [3]:
import pandas as pd
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10,11,12]
}
df = pd.DataFrame(data)
print(df)

   A  B   C
0  1  5   9
1  2  6  10
2  3  7  11
3  4  8  12

In [4]:
# Select rows 0 and 1 and columns 'A' and 'B'
df_loc = df.loc[0:1, ['A', 'B']]
print(df_loc)

   A  B
0  1  5
1  2  6

In [5]:
# Select rows 0 and 1 and columns 0 and 1
df_iloc = df.iloc[0:2, 0:2]
print(df_iloc)

   A  B
0  1  5
1  2  6

In [6]:
# Select rows where column 'A' is greater than 3
df_cond = df[df['A'] > 2]
print(df_cond)

   A  B   C
2  3  7  11
3  4  8  12

In [7]:
# Delete column 'C'
df.drop('C', axis=1, inplace=True)
print(df)

   A  B
0  1  5
1  2  6
2  3  7
3  4  8

In [8]:
# Update column 'A' with new values
df['A'] = df['A'] - 5
print(df['A'])

0   -4
1   -3
2   -2
3   -1
Name: A, dtype: int64

In [9]:
# Set column 'A' as index
df.set_index('A', inplace=True)
print(df)

    B
A
-4  5
-3  6
-2  7
-1  8

In [10]:
# Reset index to default integer index
df.reset_index(inplace=True)
print(df)

   A  B
0 -4  5
1 -3  6
2 -2  7
3 -1  8

In [11]:
# Add columns 'A' and 'B' and store in a new column 'E'
df['E'] = df['A'] + df['B']
print(df['E'])

0    1
1    3
2    5
3    7
Name: E, dtype: int64

In [12]:
# Subtract column 'B' from 'A' and store in a new column 'F'
df['F'] = df['A'] - df['B']
print(df['F'])

0   -9
1   -9
2   -9
3   -9
Name: F, dtype: int64

In [13]:
# Multiply columns 'A' and 'B' and store in a new column 'G'
df['G'] = df['A'] * df['B']
print(df['G'])

0   -20
1   -18
2   -14
3    -8
Name: G, dtype: int64

In [15]:
# Create DataFrame
data = {
    'A': [1, 2, 3, 4],
    'B': [5, 6, 7, 8],
    'C': [9, 10, 11, 12]
}
df = pd.DataFrame(data)

# Row and column selection
df_loc = df.loc[0:1, ['A', 'B']]
df_iloc = df.iloc[0:2, 0:2]

# Conditional selection
df_cond = df[df['A'] > 2]

# Column addition
df['D'] = [13, 14, 15, 16]

# Column deletion
df.drop('D', axis=1, inplace=True)

# Column update
df['A'] = df['A'] + 10

# Index operations
df.set_index('A', inplace=True)
df.reset_index(inplace=True)

# Operations between columns
df['E'] = df['A'] + df['B']
df['F'] = df['A'] - df['B']
df['G'] = df['A'] * df['B']
df['H'] = (df['A'] > 2) | (df['B'] < 7)

print(df)

    A  B   C   E  F    G     H
0  11  5   9  16  6   55  True
1  12  6  10  18  6   72  True
2  13  7  11  20  6   91  True
3  14  8  12  22  6  112  True

In [17]:
#DataFrames made out of Nested Dictionaries:
dict = {'Items':{'pen':10, 'pencil':5, 'eraser':3, 'ruler':15}}

df = pd.DataFrame(dict)
print(df)

        Items
eraser      3
pen        10
pencil      5
ruler      15