**Panda Library**: Pandas is a powerful and flexible open-source data analysis and manipulation library for the Python programming language.
It provides data structures and functions needed to work with structured data seamlessly, making it a popular choice among data scientists and analysts.

In [13]:
import pandas as pd
data = pd.Series([145, 142, 38, 13], name='counts')
print(data)

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [14]:
#Pandas Series Object from a Dictionary
import pandas as pd
import numpy as np
dictionary = {'a':1,'b':2,'c':3, 'd':4}
data = pd.Series(dictionary)
print(data)

a    1
b    2
c    3
d    4
dtype: int64

In [1]:
import pandas as pd

# Sample DataFrame
df = pd.DataFrame({
    'A': [1,2,3],
    'B': [4,5,6],
    'C': [7,8,9]
})
# Function to apply
def my_function(x):
    return x * 2
# Applying the function to each column
df_applied = df.apply(my_function, axis=0)
print(df_applied)

   A   B   C
0  2   8  14
1  4  10  16
2  6  12  18

In [6]:
import numpy as np
my_2darray = np.array([[1, 2, 3], [4, 5, 6]])
print(pd.DataFrame(my_2darray))

   0  1  2
0  1  2  3
1  4  5  6

In [7]:
# Applying a lambda function to each column
df_applied = df.apply(lambda x: x + 5, axis=0)
print(df_applied)

   A   B   C
0  6   9  12
1  7  10  13
2  8  11  14

In [8]:
# Sample Series
s = pd.Series([5,7,9,1,16,9])
# Applying a function to each element
s_applied = s.apply(lambda x: x ** 2)
print(s_applied)

0     25
1     49
2     81
3      1
4    256
5     81
dtype: int64

In [9]:
# Normalizing data
def normalize(x):
    return (x - x.mean()) / x.std()
df_normalized = df.apply(normalize)
print(df_normalized)

     A    B    C
0 -1.0 -1.0 -1.0
1  0.0  0.0  0.0
2  1.0  1.0  1.0

In [11]:
# DataFrame with missing values
df_with_nan = pd.DataFrame({
    'A': [None,9,5],
    'B': [None,5,3],
    'C': [7,8,3]
})
# Filling missing values with the mean of each column
df_filled = df_with_nan.apply(lambda x: x.fillna(x.mean()), axis=0)
print(df_filled)

     A    B  C
0  7.0  4.0  7
1  9.0  5.0  8
2  5.0  3.0  3

In [16]:
#Indexing Operator
import numpy as np
np_array = np.array([1,2,3,5,6,7,9,1,10])
data = pd.Series(np_array)
print("data :\n", data)
print("data extracted using indexing :\n",data[1:3])

data :
 0     1
1     2
2     3
3     5
4     6
5     7
6     9
7     1
8    10
dtype: int64
data extracted using indexing :
 1    2
2    3
dtype: int64

In [12]:
# Applying a conditional function
s_conditional = s.apply(lambda x: 'even' if x % 2 == 0 else 'odd')
print(s_conditional)

0     odd
1     odd
2     odd
3     odd
4    even
5     odd
dtype: object

In [15]:
#Binary Operation
import numpy as np
series1 = pd.Series([1,2,3,5,6,7,9,1,10])
series2 = pd.Series([2,3,5,2,5,6,1,3,0])
print("Series 1 :\n", series1)
print("Series 2 :\n", series1)
print("Sum of series 1 and series 2 :\n",series1.add(series2))

Series 1 :
 0     1
1     2
2     3
3     5
4     6
5     7
6     9
7     1
8    10
dtype: int64
Series 2 :
 0     1
1     2
2     3
3     5
4     6
5     7
6     9
7     1
8    10
dtype: int64
Sum of series 1 and series 2 :
 0     3
1     5
2     8
3     7
4    11
5    13
6    10
7     4
8    10
dtype: int64