**Pass Statement**: Pass Statement is a null statement which can be used as a placeholder for future code.

In [6]:
n = 10
if n > 10:
    pass

print('Maithili')

Maithili

In [7]:
n = 2
# use pass inside if statement
if n > 2:
    pass

print('Hello')

Hello

In [10]:
#placeholder for future code:
for x in [0, 1, 2]:
  pass

In [11]:
#For Function
def function():
  pass

In [12]:
#For class
class mscclass:
  pass

In [13]:
# pass can be used as placeholder when code is to added later
n = 10
for i in range(n):
  pass

In [15]:
#IF Statement
a = 33
b = 200

if b > a:
  pass

In [18]:
#Example.1
x =['Maithili', 'Yogita', 'Apurva']

for i in x:
    if(i =='Maithili'):
        pass
    else:
        print(i)

Yogita
Apurva

In [23]:
#Example.2
x = 2
if x > 5:
    pass
else:
    print("x is less than or equal to 5")

x is less than or equal to 5

In [27]:
#Example.no.3
x =5
if x != 5:
    pass
else:
    print("x is not equal to 5")

x is not equal to 5