**Data Frame Operation:**

In [1]:
import pandas as pd

In [14]:
data = {
  "Time": [50, 40, 20, None, 90, 20],
  "Pulse": [109, 140, 110, 125, 138, 170]
}
df = pd.DataFrame(data)
print(df.count())

Time     5
Pulse    6
dtype: int64

In [3]:
# Sample DataFrame
df = pd.DataFrame({'A': ['Cat', 'Mat', 'Bat', 'Cat', 'Bat']})

# Counting unique values in column 'A'
value_counts = df['A'].value_counts()
print(value_counts)

A
Cat    2
Bat    2
Mat    1
Name: count, dtype: int64

In [4]:
# Sample Series
s = pd.Series([6,8,9,13,14])

# Applying a function to square each element
s_squared = s.apply(lambda x: x ** 2)
print(s_squared)

0     36
1     64
2     81
3    169
4    196
dtype: int64

In [5]:
# Unique values in column 'A'
unique_values = df['A'].unique()
print(unique_values)

['Cat' 'Mat' 'Bat']

In [6]:
# Number of unique values in column 'A'
num_unique = df['A'].nunique()
print(num_unique)

3

In [7]:
# Descriptive statistics of the DataFrame
description = df.describe()
print(description)

          A
count     5
unique    3
top     Cat
freq      2

In [10]:
# Sample DataFrame
df = pd.DataFrame({'A': [3,6,71,56,35,48,64]})

# Counting unique values in column 'A'
value_counts = df['A'].value_counts()
print(value_counts)

A
3     1
6     1
71    1
56    1
35    1
48    1
64    1
Name: count, dtype: int64

In [9]:
# Sample DataFrame
df = pd.DataFrame({'A': [5,9,7,16,25,39,46]})
value_counts = df['A'].value_counts()
print(value_counts)

A
5     1
9     1
7     1
16    1
25    1
39    1
46    1
Name: count, dtype: int64

In [12]:
# apply
import numpy as np

df = pd.DataFrame({'A': [1, 2], 'B': [10, 20]})
df1 = df.apply(np.sum, axis=0)
print(df1)
df1 = df.apply(np.sum, axis=1)
print(df1)

A     3
B    30
dtype: int64
0    11
1    22
dtype: int64

In [13]:
#Count Unique Values
df = pd.DataFrame({'A': [1, None, 3], 'B': [1, None, 1],'C': [2, None, 5]})
print("The DataFrame is")
print(df)
print("--------------------------------")
print(df.nunique(axis=1))

The DataFrame is
     A    B    C
0  1.0  1.0  2.0
1  NaN  NaN  NaN
2  3.0  1.0  5.0
--------------------------------
0    2
1    0
2    3
dtype: int64