In [2]:
#For loop : Used to iterate over sequences such as lists, strings, tuples, etc.

In [3]:
Cars = ['Swift', 'Scorpio', 'Thar']
# access elements of the list one by one
for i in Cars:
    print(i)      
# we have created a list called Cars. As the list has 3 elements, the loop iterates 3 times.
#The value of i is: #Swift in the first iteration.
                    # Scorpio in the second iteration.
                    #Thar in the third iteration.

Swift
Scorpio
Thar

In [4]:
#For loop Syntax:
for val in sequence:
    # statement(s)

SyntaxError: incomplete input (983514877.py, line 3)

In [9]:
#Example 1: Loop Through a String
Cars= 'Scorpio'
# iterate over each character in Cars
for x in Cars:
    print(x)

S
c
o
r
p
i
o

In [10]:
#Example 2
Cars= 'Swift'
# iterate over each character in Cars
for x in Cars:
    print(x)

S
w
i
f
t

In [12]:
#Example.3: (For Range) 
for i in range(0, 10, 2):
    print(i)

0
2
4
6
8

In [13]:
#Example.4: (For Range) 
for i in range(0, 25, 5):
    print(i)

0
5
10
15
20

In [16]:
#Example.5: Loop Enumerate
X= ["eat", "sleep", "repeat"]
for count, ele in enumerate(X):
    print (count, ele)

0 eat
1 sleep
2 repeat

In [17]:
#Example.6
X= ["Swift", "Scorpio", "Thar"]
for count, ele in enumerate(X):
    print (count, ele)

0 Swift
1 Scorpio
2 Thar

In [18]:
#Example.7 (Nested loop)
for i in range(1, 9):
    for j in range(1, 9):
        print(i, j)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
5 1
5 2
5 3
5 4
5 5
5 6
5 7
5 8
6 1
6 2
6 3
6 4
6 5
6 6
6 7
6 8
7 1
7 2
7 3
7 4
7 5
7 6
7 7
7 8
8 1
8 2
8 3
8 4
8 5
8 6
8 7
8 8

In [20]:
#Example.8.
for day in range(1, 5):
    distance = 2 + (day - 1) * 0.5
    print(f"Day {day}: Run {distance:.1f} miles")

Day 1: Run 2.0 miles
Day 2: Run 2.5 miles
Day 3: Run 3.0 miles
Day 4: Run 3.5 miles

In [21]:
# for-else loop
for i in range(1, 5):
    print(i)
else:  # Executed because no break in for
    print("No Break\n")

1
2
3
4
No Break

In [22]:
# An empty loop
for letter in 'Scorpio':
    pass
print('Last Letter :', letter)

Last Letter : o

In [23]:
for letter in 'Scorpio':
    # break the loop as soon it sees 'e'
    # or 's'
    if letter == 'o' or letter == 'r':
        break

print('Current Letter :', letter)

Current Letter : o

In [25]:
# Prints all letters except 'c' and 'o'

for letter in 'Scorpio':
    if letter == 'c' or letter == 'o':
        continue
    print('Current Letter :', letter)

Current Letter : S
Current Letter : r
Current Letter : p
Current Letter : i

In [27]:
# loop with zip
fruits = ["apple", "banana", "cherry"]
colors = ["red", "yellow", "green"]
for fruit, color in zip(fruits, colors):
    print(fruit, "is", color)

apple is red
banana is yellow
cherry is green

In [28]:
#loop with touple
t = ((1, 2), (3, 4), (5, 6))
for a, b in t:
    print(a, b)

1 2
3 4
5 6

In [29]:
# Iterating over dictionary
print("Dictionary Iteration")

d = dict()

d['xyz'] = 123
d['abc'] = 345
for i in d:
    print("% s % d" % (i, d[i]))

Dictionary Iteration
xyz  123
abc  345

In [31]:
# loop in one line
Numbers =[x for x in range(5)]
print(Numbers)

[0, 1, 2, 3, 4]

In [32]:
# Python program to illustrate
# Iterating over a list
l = ["Apple", "for", "Yogita"]
for i in l:
    print(i)

Apple
for
Yogita